{{>header}}


<div class="container">
	<br>
	<h4 class="text-align:center"><i class="fa fa-plane"></i> Chania Airport</h4>
	<p class="text-align:center">Below you will find information about the airport of the island, related links and a location map.</p>
	<br>

	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3246.517958564876!2d24.137239975244043!3d35.54090813767052!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x149c7fe117798ed5%3A0xff20e24b00e2b643!2sChania%20Airport!5e0!3m2!1sel!2sgr!4v1708782675626!5m2!1sel!2sgr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

	<br><br>
	<p class="text-align:center"><b>Airport Site:</b> <a href="https://www.chq-airport.gr/en" target="_blank">https://www.chq-airport.gr/en</a></p>

	<!--
	<p class="text-align:center"><b>Ktel Lefkadas:</b> <a href="https://ktel-lefkadas.gr/%CE%AC%CE%BA%CF%84%CE%B9%CE%BF-%CF%80%CF%81%CE%AD%CE%B2%CE%B5%CE%B6%CE%B1/" target="_blank">https://ktel-lefkadas.gr/</a></p>

	<p>(Bus from Lefkada to the Airport and from Airport to the Lefkada.)</p>
	<p>The distance between the airport and Lefkada is about 20 - 25 minutes.</p>
	-->

	<br><br>

</div>


{{>footer}}