{{>header}}

<div class="container">
	<br>
	<h4 class="text-align:center">Contact</h4>
	<br>
</div>


<div class="container">
	<div class="row">
		<div class="col">
			<h5>How can i help you ?</h5> <br> <br>
			<form action="/email_me" method="POST" id="captcha-form2">
				<div class="form-group">
					<input type="email" name="email" class="form-control" placeholder="Enter your email" required>
				</div>

				<div class="form-group">
					<input name="subject" class="form-control" placeholder="Enter the subject" required> 
				</div>

				<div class="form-group">
					<textarea class="form-control" name="message" rows="5" placeholder="Enter your message..." required></textarea>
					<small class="form-text text-muted">All fields are required.</small>
					<small class="form-text text-muted">We'll never share your email with anyone else.</small>
				</div>

				<div class="form-group">
					<div class="d-flex align-items-center">
						<canvas id="captcha2" width="200" height="80" style="margin-left: 80px;"></canvas>
						<button type="button" class="btn btn-secondary" id="refresh-captcha2">
							<i class="fa fa-refresh"></i>
						</button>
					</div>

					<input type="text" class="form-control" placeholder="Enter Captcha" id="captcha-input2" required>
				</div>

				<br>
				<button type="submit" class="btn btn-primary">Send Email</button>
			</form>
		</div>

		<div class="col">
			<i class="fa fa-user"> Konstantinos Tzanakis</i> <br>
			<i class="fa fa-phone"> (+30) 6948203074</i> <br>
			<i class="fa fa-envelope"> info@revel-properties.com</i> <br>
			<p></p>
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3256.100279375243!2d23.67495127523323!3d35.30348970063289!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x149cebe4e033f3bf%3A0xfa60c056fa289d7a!2zzqPOsc-BzrHOus6uzr3OsSA3MzAgMDE!5e0!3m2!1sel!2sgr!4v1711724894787!5m2!1sel!2sgr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
		</div>
	</div>
</div>


<br><br><br><br><br><br><br>


<script>
$(document).ready(function () {
    // Generate captcha on page load
    generateCaptcha();

    // Handle captcha refresh button click
    $("#refresh-captcha2").click(function () {
        generateCaptcha();
        $("#captcha-input2").val("");
    });

    // Handle form submit
    $("#captcha-form2").submit(function (event) {
        event.preventDefault();

        // Validate captcha
        var captchaInput = $("#captcha-input2").val();
        var captchaCode = sessionStorage.getItem("captchaCode");
        if (captchaInput != captchaCode) {
            alert("Invalid captcha code. Please try again.");
            generateCaptcha();
            $("#captcha-input2").val("");
            return;
        }

        // Captcha validation successful, submit form
        $("#captcha-form2").unbind('submit').submit();
    });

    // Define the function generateCaptcha()
    function generateCaptcha() {
        var canvas = $("#captcha2")[0];
        var context = canvas.getContext("2d");

        // Clear the canvas
        context.clearRect(0, 0, canvas.width, canvas.height);

        // Define the string of characters that can be included in the captcha
        var characters = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";
        var captchaCode = "";

        // Generate each character of the captcha
        for (var i = 0; i < 6; i++) {
            // Select random letter from the pool to be part of the captcha
            var character = characters.charAt(Math.floor(Math.random() * characters.length));
            captchaCode += character;

            // Set up the text formatting
            var fontSize = 20 + Math.random() * 10;
            context.font = fontSize + "px Arial";
            context.textAlign = "center";
            context.textBaseline = "middle";

            // Set the color of the text
            context.fillStyle = "rgb(" + Math.floor(Math.random() * 256) + "," + Math.floor(Math.random() * 256) + "," + Math.floor(Math.random() * 256) + ")";

            // Add the character to the canvas
            var angle = -45 + Math.random() * 90;
            context.translate(20 + i * 30, canvas.height / 2);
            context.rotate(angle * Math.PI / 180);
            context.fillText(character, 0, 0);
            context.rotate(-angle * Math.PI / 180);
            context.translate(-(20 + i * 30), -canvas.height / 2);
        }

        // Set the captcha code in session storage
        sessionStorage.setItem("captchaCode", captchaCode);
    }
});
</script>

{{>footer}}