{{>header}}


<div class="container">
	<br>
	<h4 class="text-align:center"><i class="fa fa-ambulance"></i> Hospital</h4>
	<p class="text-align:center">Below you will find information about Hospital of the island, related links and a location map.</p>
	<br>

	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3249.0452216062376!2d24.01302977524124!3d35.478424941089116!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x149c876e4f9b8eeb%3A0x8b3ce6bf9c105fa4!2zzpPOtc69zrnOus-MIM6dzr_OvM6xz4HPh865zrHOus-MIM6dzr_Pg86_zrrOv868zrXOr86_IM6nzrHOvc6vz4nOvSDOhs6zzrnOv8-CIM6TzrXPjs-BzrPOuc6_z4I!5e0!3m2!1sel!2sgr!4v1708782824882!5m2!1sel!2sgr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

	<br><br>
	<p class="text-align:center"><b>Hospital Site:</b> <a href="https://chaniahospital.gr/" target="_blank">https://chaniahospital.gr/</a></p>

	<!--
	<p>The distance between the hospital and the center of Lefkada is about 5 minutes by car.</p>
	-->

	<br><br>

</div>


{{>footer}}